body,html{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

#grid{
 width: 1000px;
 height: 1000px;
 border: solid 1px black;
 display: flex;
 flex-wrap: wrap;
}

.square{
 width: 100px;
 height: 100px;
 background-color: chartreuse;
}

